@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  margin: 0;
  color: #a7b5b9;
}

main {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), color-stop(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../gallery/background/bmw.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../gallery/background/bmw.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main .grid-rows {
  width: 95%;
  height: 95%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 45% 45%;
      grid-template-rows: 10% 45% 45%;
}

main .grid-rows .grid-row-one {
  width: 100%;
  height: 100%;
  margin: 0;
}

main .grid-rows .grid-row-one .navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: "";
  padding-top: 2rem;
}

main .grid-rows .grid-row-one .navbar .left-nav-items {
  width: 100%;
  height: auto;
  margin: auto;
}

main .grid-rows .grid-row-one .navbar .left-nav-items .fa-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2.1rem;
  font-size: 2rem;
  cursor: pointer;
}

@media only screen and (min-width: 1151px) {
  main .grid-rows .grid-row-one .navbar .left-nav-items .fa-bars {
    display: none;
  }
}

main .grid-rows .grid-row-one .navbar .left-nav-items .nav-link {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #a7b5b9;
  padding-right: 3rem;
}

@media only screen and (max-width: 1150px) {
  main .grid-rows .grid-row-one .navbar .left-nav-items .nav-link {
    display: none;
  }
}

main .grid-rows .grid-row-one .navbar .right-nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .grid-rows .grid-row-one .navbar .right-nav-items .fa-search {
  padding-right: 2rem;
  font-size: 1.3rem;
  cursor: pointer;
}

main .grid-rows .grid-row-one .navbar .right-nav-items .form-control {
  background: none;
  border: none;
  outline: none;
  width: 16rem;
  font-size: 1.3rem;
  color: #a7b5b9;
}

main .grid-rows .grid-row-one .navbar .right-nav-items .form-control:focus {
  text-align: center;
}

main .grid-rows .grid-row-one .navbar .right-nav-items .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

main .grid-rows .grid-row-one .navbar .right-nav-items .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

main .grid-rows .grid-row-one .navbar .right-nav-items .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

main .grid-rows .grid-row-one .navbar .right-nav-items .form-control:focus::placeholder {
  color: transparent;
}

@media only screen and (max-width: 800px) {
  main .grid-rows .grid-row-one .navbar .right-nav-items .form-control {
    width: 8rem;
  }
}

main .grid-rows .grid-row-one .navbar .right-nav-items .fa-user-circle {
  padding-left: 2rem;
  font-size: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 1400px) {
  main .grid-rows .grid-row-one .navbar .right-nav-items .fa-user-circle {
    padding-left: 1rem;
  }
}

main .responsive-menu {
  width: 45%;
  height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../gallery/background/porsche.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../gallery/background/porsche.jpg);
  background-position: 25% center;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  main .responsive-menu {
    width: 100%;
    height: 100%;
    margin: auto;
  }
}

main .responsive-menu .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .responsive-menu .menu-container .menu-txt {
  text-transform: uppercase;
  text-shadow: 0 0 2px white;
  letter-spacing: 2px;
  font-size: 2.5rem;
  cursor: default;
}

main .responsive-menu .menu-container .nav-link {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: #a7b5b9;
  padding: 1rem 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

main .responsive-menu .menu-container .nav-link:hover {
  color: white;
  letter-spacing: 0.3rem;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

main .responsive-menu .media-exit-container {
  width: 100%;
  height: auto;
  margin: 0;
}

main .responsive-menu .media-exit-container .media-icons {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto auto 3rem auto;
  font-size: 2.5rem;
}

main .responsive-menu .media-exit-container .media-icons .fab {
  color: #00F1C3;
  text-shadow: 0 0 3px #00F1C3;
}

main .responsive-menu .media-exit-container .media-icons .fab:hover {
  cursor: pointer;
}

main .responsive-menu .media-exit-container .exit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: rgba(0, 241, 195, 0.1);
  color: #fff;
  letter-spacing: 2px;
  font-size: 1.1rem;
  cursor: pointer;
}

main .grid-row-two {
  width: 100%;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

main .grid-row-two .title-section {
  font-size: 2rem;
  color: #fff;
}

@media only screen and (max-width: 540px) {
  main .grid-row-two .title-section {
    font-size: 1.2rem;
  }
}

main .grid-row-two .title-section .title-desc {
  color: #00F1C3;
}

main .grid-row-two .title-section .button-group .title-btn {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 500;
  border: 2px solid #fff;
  border-radius: 16px;
  background: transparent;
  padding: 8px 16px;
  outline: none;
}

main .grid-row-two .title-section .button-group .title-btn:nth-child(2) {
  padding: 8px 38px;
  margin-left: 1.5rem;
}

@media only screen and (max-width: 540px) {
  main .grid-row-two .title-section .button-group .title-btn:nth-child(2) {
    padding: 8px 32px;
  }
}

main .grid-row-two .title-section .button-group .title-btn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 540px) {
  main .grid-row-two .title-section .button-group .title-btn {
    font-size: 1rem;
  }
}

main .grid-row-two .title-section .button-group .active-button {
  background-color: #00F1C3;
  border-color: #00F1C3;
  -webkit-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  color: #000;
}

main .grid-row-three {
  width: 100%;
  height: 100%;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
}

@media only screen and (max-width: 1150px) {
  main .grid-row-three {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

main .grid-row-three .grid-col-one {
  width: 100%;
  height: 100%;
  margin: 0;
}

@media only screen and (max-width: 1150px) {
  main .grid-row-three .grid-col-one {
    display: none;
  }
}

main .grid-row-three .grid-col-one .media-icons {
  width: auto;
  height: 100%;
  margin: auto auto 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: "";
}

main .grid-row-three .grid-col-one .media-icons .fa-youtube {
  margin: 3rem 0;
}

main .grid-row-three .grid-col-one .media-icons .fa-facebook-f {
  margin-left: .6rem;
}

main .grid-row-three .grid-col-one .media-icons .fab {
  font-size: 2rem;
  color: #00F1C3;
  text-shadow: 0 0 3px #00F1C3;
}

main .grid-row-three .grid-col-one .media-icons .fab:hover {
  cursor: pointer;
}

main .grid-row-three .grid-col-two {
  width: 100%;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: "";
}

@media only screen and (max-width: 985px) {
  main .grid-row-three .grid-col-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: "";
        -ms-flex-align: "";
            align-items: "";
  }
}

main .grid-row-three .grid-col-two .swiper-container {
  width: 18rem;
  height: 18rem;
  margin: auto;
}

@media only screen and (min-width: 795px) {
  main .grid-row-three .grid-col-two .swiper-container {
    display: none;
  }
}

main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .first-cube-card-container, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .second-cube-card-container, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .third-cube-card-container {
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 12px;
  background-color: rgba(0, 241, 195, 0.1);
}

main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .first-cube-card-container:nth-child(2), main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .second-cube-card-container:nth-child(2), main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .third-cube-card-container:nth-child(2) {
  margin: auto 1rem 0 1rem;
}

main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .first-cube-card-container .card-content, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .second-cube-card-container .card-content, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .third-cube-card-container .card-content {
  width: 85%;
  height: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 20% 30% 30%;
      grid-template-rows: 20% 20% 30% 30%;
}

main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .first-cube-card-container .card-content .first-card-row, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .second-cube-card-container .card-content .first-card-row, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .third-cube-card-container .card-content .first-card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .first-cube-card-container .card-content .first-card-row .one-week, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .second-cube-card-container .card-content .first-card-row .one-week, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .third-cube-card-container .card-content .first-card-row .one-week {
  color: #fff;
  font-size: 1.2rem;
}

main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .first-cube-card-container .card-content .first-card-row .card-index, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .second-cube-card-container .card-content .first-card-row .card-index, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .third-cube-card-container .card-content .first-card-row .card-index {
  color: #00F1C3;
  font-size: 1.8rem;
  text-shadow: 0 0 25px #00F1C3;
}

main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .first-cube-card-container .card-content .second-card-row, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .second-cube-card-container .card-content .second-card-row, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .third-cube-card-container .card-content .second-card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .first-cube-card-container .card-content .second-card-row .package-name, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .second-cube-card-container .card-content .second-card-row .package-name, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .third-cube-card-container .card-content .second-card-row .package-name {
  font-size: 1.4rem;
  font-weight: 400;
  color: #00F1C3;
}

@media only screen and (max-width: 985px) {
  main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .first-cube-card-container .card-content .second-card-row .package-name, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .second-cube-card-container .card-content .second-card-row .package-name, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .third-cube-card-container .card-content .second-card-row .package-name {
    font-size: 1rem;
  }
}

main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .first-cube-card-container .card-content .third-card-row, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .second-cube-card-container .card-content .third-card-row, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .third-cube-card-container .card-content .third-card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .first-cube-card-container .card-content .third-card-row .price-string, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .second-cube-card-container .card-content .third-card-row .price-string, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .third-cube-card-container .card-content .third-card-row .price-string {
  font-size: 1.3rem;
}

@media only screen and (max-width: 985px) {
  main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .first-cube-card-container .card-content .third-card-row .price-string, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .second-cube-card-container .card-content .third-card-row .price-string, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .third-cube-card-container .card-content .third-card-row .price-string {
    font-size: 1.2rem;
  }
}

main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .first-cube-card-container .card-content .third-card-row .price-integer, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .second-cube-card-container .card-content .third-card-row .price-integer, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .third-cube-card-container .card-content .third-card-row .price-integer {
  font-size: 2.1rem;
}

@media only screen and (max-width: 985px) {
  main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .first-cube-card-container .card-content .third-card-row .price-integer, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .second-cube-card-container .card-content .third-card-row .price-integer, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .third-cube-card-container .card-content .third-card-row .price-integer {
    font-size: 1.8rem;
  }
}

main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .first-cube-card-container .card-content .fourth-card-row, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .second-cube-card-container .card-content .fourth-card-row, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .third-cube-card-container .card-content .fourth-card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .first-cube-card-container .card-content .fourth-card-row .card-btn, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .second-cube-card-container .card-content .fourth-card-row .card-btn, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .third-cube-card-container .card-content .fourth-card-row .card-btn {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 500;
  border: 2px solid #fff;
  border-radius: 16px;
  background: transparent;
  padding: 4px 8px;
  outline: none;
}

@media only screen and (max-width: 985px) {
  main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .first-cube-card-container .card-content .fourth-card-row .card-btn, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .second-cube-card-container .card-content .fourth-card-row .card-btn, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .third-cube-card-container .card-content .fourth-card-row .card-btn {
    padding: 3px 6px;
    font-size: 1.2rem;
  }
}

main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .first-cube-card-container .card-content .fourth-card-row .card-btn:nth-child(1), main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .second-cube-card-container .card-content .fourth-card-row .card-btn:nth-child(1), main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .third-cube-card-container .card-content .fourth-card-row .card-btn:nth-child(1) {
  padding: 4px 22px;
}

@media only screen and (max-width: 985px) {
  main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .first-cube-card-container .card-content .fourth-card-row .card-btn:nth-child(1), main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .second-cube-card-container .card-content .fourth-card-row .card-btn:nth-child(1), main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .third-cube-card-container .card-content .fourth-card-row .card-btn:nth-child(1) {
    padding: 3px 20px;
  }
}

main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .first-cube-card-container .card-content .fourth-card-row .card-btn:hover, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .second-cube-card-container .card-content .fourth-card-row .card-btn:hover, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .third-cube-card-container .card-content .fourth-card-row .card-btn:hover {
  cursor: pointer;
}

main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .first-cube-card-container .card-content .fourth-card-row .active-button, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .second-cube-card-container .card-content .fourth-card-row .active-button, main .grid-row-three .grid-col-two .swiper-container .swiper-wrapper .swiper-slide .third-cube-card-container .card-content .fourth-card-row .active-button {
  background-color: #00F1C3;
  border-color: #00F1C3;
  -webkit-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  color: #000;
}

main .grid-row-three .grid-col-two .first-card-container, main .grid-row-three .grid-col-two .second-card-container, main .grid-row-three .grid-col-two .third-card-container {
  width: 18rem;
  height: 18rem;
  margin: auto 0 0 auto;
  border-radius: 12px;
  background-color: rgba(0, 241, 195, 0.1);
}

@media only screen and (max-width: 985px) {
  main .grid-row-three .grid-col-two .first-card-container, main .grid-row-three .grid-col-two .second-card-container, main .grid-row-three .grid-col-two .third-card-container {
    width: 15rem;
    height: 15rem;
    margin: auto auto 0 auto;
  }
  main .grid-row-three .grid-col-two .first-card-container:hover, main .grid-row-three .grid-col-two .second-card-container:hover, main .grid-row-three .grid-col-two .third-card-container:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 794px) {
  main .grid-row-three .grid-col-two .first-card-container, main .grid-row-three .grid-col-two .second-card-container, main .grid-row-three .grid-col-two .third-card-container {
    display: none;
  }
}

main .grid-row-three .grid-col-two .first-card-container:nth-child(2), main .grid-row-three .grid-col-two .second-card-container:nth-child(2), main .grid-row-three .grid-col-two .third-card-container:nth-child(2) {
  margin: auto 1rem 0;
}

main .grid-row-three .grid-col-two .first-card-container .card-content, main .grid-row-three .grid-col-two .second-card-container .card-content, main .grid-row-three .grid-col-two .third-card-container .card-content {
  width: 85%;
  height: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 20% 30% 30%;
      grid-template-rows: 20% 20% 30% 30%;
}

main .grid-row-three .grid-col-two .first-card-container .card-content .first-card-row, main .grid-row-three .grid-col-two .second-card-container .card-content .first-card-row, main .grid-row-three .grid-col-two .third-card-container .card-content .first-card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .grid-row-three .grid-col-two .first-card-container .card-content .first-card-row .one-week, main .grid-row-three .grid-col-two .second-card-container .card-content .first-card-row .one-week, main .grid-row-three .grid-col-two .third-card-container .card-content .first-card-row .one-week {
  color: #fff;
  font-size: 1.2rem;
}

main .grid-row-three .grid-col-two .first-card-container .card-content .first-card-row .card-index, main .grid-row-three .grid-col-two .second-card-container .card-content .first-card-row .card-index, main .grid-row-three .grid-col-two .third-card-container .card-content .first-card-row .card-index {
  color: #00F1C3;
  font-size: 1.8rem;
  text-shadow: 0 0 25px #00F1C3;
}

main .grid-row-three .grid-col-two .first-card-container .card-content .second-card-row, main .grid-row-three .grid-col-two .second-card-container .card-content .second-card-row, main .grid-row-three .grid-col-two .third-card-container .card-content .second-card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .grid-row-three .grid-col-two .first-card-container .card-content .second-card-row .package-name, main .grid-row-three .grid-col-two .second-card-container .card-content .second-card-row .package-name, main .grid-row-three .grid-col-two .third-card-container .card-content .second-card-row .package-name {
  font-size: 1.4rem;
  font-weight: 400;
  color: #00F1C3;
}

@media only screen and (max-width: 985px) {
  main .grid-row-three .grid-col-two .first-card-container .card-content .second-card-row .package-name, main .grid-row-three .grid-col-two .second-card-container .card-content .second-card-row .package-name, main .grid-row-three .grid-col-two .third-card-container .card-content .second-card-row .package-name {
    font-size: 1rem;
  }
}

main .grid-row-three .grid-col-two .first-card-container .card-content .third-card-row, main .grid-row-three .grid-col-two .second-card-container .card-content .third-card-row, main .grid-row-three .grid-col-two .third-card-container .card-content .third-card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

main .grid-row-three .grid-col-two .first-card-container .card-content .third-card-row .price-string, main .grid-row-three .grid-col-two .second-card-container .card-content .third-card-row .price-string, main .grid-row-three .grid-col-two .third-card-container .card-content .third-card-row .price-string {
  font-size: 1.3rem;
}

@media only screen and (max-width: 985px) {
  main .grid-row-three .grid-col-two .first-card-container .card-content .third-card-row .price-string, main .grid-row-three .grid-col-two .second-card-container .card-content .third-card-row .price-string, main .grid-row-three .grid-col-two .third-card-container .card-content .third-card-row .price-string {
    font-size: 1.2rem;
  }
}

main .grid-row-three .grid-col-two .first-card-container .card-content .third-card-row .price-integer, main .grid-row-three .grid-col-two .second-card-container .card-content .third-card-row .price-integer, main .grid-row-three .grid-col-two .third-card-container .card-content .third-card-row .price-integer {
  font-size: 2.1rem;
}

@media only screen and (max-width: 985px) {
  main .grid-row-three .grid-col-two .first-card-container .card-content .third-card-row .price-integer, main .grid-row-three .grid-col-two .second-card-container .card-content .third-card-row .price-integer, main .grid-row-three .grid-col-two .third-card-container .card-content .third-card-row .price-integer {
    font-size: 1.8rem;
  }
}

main .grid-row-three .grid-col-two .first-card-container .card-content .fourth-card-row, main .grid-row-three .grid-col-two .second-card-container .card-content .fourth-card-row, main .grid-row-three .grid-col-two .third-card-container .card-content .fourth-card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .grid-row-three .grid-col-two .first-card-container .card-content .fourth-card-row .card-btn, main .grid-row-three .grid-col-two .second-card-container .card-content .fourth-card-row .card-btn, main .grid-row-three .grid-col-two .third-card-container .card-content .fourth-card-row .card-btn {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 500;
  border: 2px solid #fff;
  border-radius: 16px;
  background: transparent;
  padding: 4px 8px;
  outline: none;
}

@media only screen and (max-width: 985px) {
  main .grid-row-three .grid-col-two .first-card-container .card-content .fourth-card-row .card-btn, main .grid-row-three .grid-col-two .second-card-container .card-content .fourth-card-row .card-btn, main .grid-row-three .grid-col-two .third-card-container .card-content .fourth-card-row .card-btn {
    padding: 3px 6px;
    font-size: 1.2rem;
  }
}

main .grid-row-three .grid-col-two .first-card-container .card-content .fourth-card-row .card-btn:nth-child(1), main .grid-row-three .grid-col-two .second-card-container .card-content .fourth-card-row .card-btn:nth-child(1), main .grid-row-three .grid-col-two .third-card-container .card-content .fourth-card-row .card-btn:nth-child(1) {
  padding: 4px 22px;
}

@media only screen and (max-width: 985px) {
  main .grid-row-three .grid-col-two .first-card-container .card-content .fourth-card-row .card-btn:nth-child(1), main .grid-row-three .grid-col-two .second-card-container .card-content .fourth-card-row .card-btn:nth-child(1), main .grid-row-three .grid-col-two .third-card-container .card-content .fourth-card-row .card-btn:nth-child(1) {
    padding: 3px 20px;
  }
}

main .grid-row-three .grid-col-two .first-card-container .card-content .fourth-card-row .card-btn:hover, main .grid-row-three .grid-col-two .second-card-container .card-content .fourth-card-row .card-btn:hover, main .grid-row-three .grid-col-two .third-card-container .card-content .fourth-card-row .card-btn:hover {
  cursor: pointer;
}

main .grid-row-three .grid-col-two .first-card-container .card-content .fourth-card-row .active-button, main .grid-row-three .grid-col-two .second-card-container .card-content .fourth-card-row .active-button, main .grid-row-three .grid-col-two .third-card-container .card-content .fourth-card-row .active-button {
  background-color: #00F1C3;
  border-color: #00F1C3;
  -webkit-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  color: #000;
}
/*# sourceMappingURL=style.css.map */